* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 50px 0 100px;
    text-align: center;
    font-family: "Helvetica", sans-serif;
}

header {
    margin: 0.5rem 0;
}

h1 {
    margin-bottom: 0.5rem;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.layer {
    width: 100%;
}

/* Component Preset */

.cloud {
    display: inline-block;
    position: relative;
    left: 500px;
    background-size:contain;
    background-repeat: no-repeat;
    height: 50px;
    width: 100px;
    background-image: url("assets/transparent/cloud.png");
}
.cloud::after {
    content: "Cloud";
    position: absolute;
    top: 100%;
    left: 20%;
}
.firewall {
    background-image: url("assets/transparent/firewall.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
}
.net-switch {
    display: inline-block;
    background-image: url("assets/transparent/net-switch.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
}
.wifi {
    display: inline-block;
    background-image: url("assets/transparent/wifi.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
}
.server {
    display: inline-block;
    background-image: url("assets/transparent/server.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
}
.pc {
    display: inline-block;
    background-image: url("assets/transparent/pc.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
}
.small-box {
    display: inline-block;
    background-image: url("assets/transparent/small-box.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
}
.medium-box {
    display: inline-block;
    background-image: url("assets/transparent/medium-box.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
}
.inverter {
    display: inline-block;
    background-image: url("assets/transparent/inverter.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
}
.battery {
    display: inline-block;
    background-image: url("assets/transparent/battery.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 60px;
    width: 60px;
}
.solar-panel {
    display: inline-block;
    background-image: url("assets/transparent/solar-panel.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
}
.triangle {
    display: inline-block;
    background-image: url("assets/transparent/triangle.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
}
.switch {
    display: inline-block;
    background-image: url("assets/transparent/switch.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
}
.ground {
    display: inline-block;
    background-image: url("assets/transparent/ground.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
}
.lv {
    display: inline-block;
    background-image: url("assets/original/lv.JPG");
    background-size:cover;
    background-repeat: no-repeat;
    position: absolute;
}
/* layer 1 */
.wrapper-1 {
    display: inline-block;
    width: 100px;
    position: relative;
    left: 300px;
}

.firewall.itb {
    position: relative;
    top: 30px;
    left: 20px;
    z-index: 1;
}
.firewall.itb::before {
    content: 'ITB Firewall';
    position: absolute;
    right: 90%;
}


.internet-gateway {
    position: relative;
    z-index: 2;
}
.internet-gateway::after {
    content: 'ITB Ethernet Gateway';
    position: absolute;
    left: 80%;
    bottom: 60%;
    font-size: 12px;
}

/* layer 2 */
.wrapper-2 {
    left: 30px;
    top: 10px;
    display: inline-block;
    width: 100px;
    position: relative;
}

.firewall.labME {
    position: relative;
    top: 30px;
    left: 20px;
    z-index: 1;
}
.firewall.labME::after {
    content: 'Firewall Lab ME';
    position: absolute;
    top: -70%;
    left: 0%;
}
.lab-gateway {
    position: relative;
    z-index: 2;
}
.lab-gateway::after {
    content: "Lab ME Gateway";
    position: absolute;
    top: 90%;
    left: 0;
}

.net-switch.top {
    position: relative;
    right: 100px;
}
.net-switch.top::after {
    content: 'Switch';
    position: absolute;

}
.server.warehouse {
    position: relative;
    left: 440px;
}
.server.warehouse::after {
    content: "Data Warehouse VPS ITB 167.205.57.204";
    position: absolute;
    top: 100%;
    left: -70%;
}

.wifi.remote {
    position: relative;
    left: 200px;
}
.wifi.remote::after {
    content: "WiFi - AP Remote";
    font-size: 12px;
    position: absolute;
    top: 100%;
    left: 0%;
}
/* layer 3 */
.layer.three {
    padding-top:50px;
}
.wrapper-3 {
    display: inline-block;
    position: relative;
    left: 160px;
}
.server.one::after{
    content: 'Modul Lokal 192.168.1.102';
    position: absolute;
    font-size: 10px;
    top: 30%;
    right: 100%;
}
.server.two::after{
    content: 'Data Lake 192.168.1.73';
    position: absolute;
    font-size: 10px;
    top: 100%;
    right: 20%;
}
.wifi.ap::after{
    content: 'Wifi - AP SmartGrid-TF-ME';
    position: absolute;
    font-size: 10px;
    top: 30%;
    left: 85%;
}
.pc {
    position: relative;
    left: 250px;
}
.pc.admin::after {
    content: 'HMI Admin';
    position: absolute;
    font-size: 12px;
    top: 90%;
    left: 10%;
}
.pc.party::after {
    content: '3rd Party Message Service';
    position: absolute;
    font-size: 12px;
    top: 90%;
    left: 10%;
}
.net-switch.bottom {
    position: relative;
    right: 70px;
}
.net-switch.bottom::after {
    content: "Switch";
    position: absolute;
}
/* layer 4 */
.layer.four {
    padding-top:50px;
}
.small-box.left {
    position: relative;
    right: 270px;
}
.small-box.left::after {
    content: 'Web Box Comm. Interface (192.168.1.13)';
    position: absolute;
    font-size: 12px;
}
.small-box.right::after {
    content: 'Modul Lokal Beban';
    position: absolute;
    left: 50%;
    font-size: 12px;
}
/* layer 5 */
.layer.five {
    padding-top:50px;
}

.wrapper-right {
    display: inline-block;
    position: relative;
    right: 50px;
}
.wrapper-left {
    display: inline-block;
    position: relative;
    right: 270px;
}
.medium-box.one {
    position: relative;
    right: 40px;
}
.medium-box.one::before {
    content: "IED Hybrid Inverter";
    position: absolute;
    font-size: 12px;
    top: 20%;
    left:-200%;
}
.medium-box.two::before {
    content: 'IED PV Grid Inverter';
    position: absolute;
    font-size: 12px;
    top: 20%;
    left:100%;
}
.medium-box.three {
    position: relative;
    right: 40px;
}
.medium-box.three::before {
    content: 'Modul Relay Ethernet';
    position: absolute;
    right: 100%;
    font-size: 12px;
}
.medium-box.four {
    position: relative;
    right: 5px;
}
.medium-box.four::before {
    content: 'Modul Relay Ethernet';
    position: absolute;
    left: 100%;
    font-size: 12px;
}

/* layer 6 */
.layer.six {
    padding-top:50px;
}
.triangle.prio {
    position: relative;
    left: 50px;
    top: 40px;
}
.triangle.prio::after {
    content: 'Prioritas (Server, Router, Panel)';
    position: absolute;
    font-size: 12px;
    left: 100%;
}
.switch.one {
    position: relative;
    right: 300px;
    top: 40px;
}


/* layer 7 */
.layer.seven {
    padding-top:50px;
}

.battery {
    position: relative;
    right: 350px;
    top: 5px;
}
.battery::before {
    content: 'Susunan Papan Sel Sistem Baterai';
    position: absolute;
    top: 100%;
    right: 0%;
}
.inverter.one {
    position: relative;
    right: 310px;
}
.inverter.one::after{
    content: 'Hybrid Inverter';
    position: absolute;
    font-size: 12px;
    top: 100%;
    right: 10%;
}
.inverter.two {
    position: relative;
    right: 275px;
}
.inverter.two::after{
    content: 'PV Gnd Inverter';
    position: absolute;
    font-size: 12px;
    top: 100%;
    right: 10%;
}
.solar-panel {
    position: relative;
    right: 200px;
}
.solar-panel::after{
    content: 'Susunan Panel Surya';
    position: absolute;
    font-size: 12px;
    top: 100%;
    right: 5%;
}
.switch.two {
    position: relative;
    right: 90px;
}
.triangle.non-prio {
    position: relative;
    right: 50px;
}
.triangle.non-prio::after{
    content: 'Non-prioritas (Cluster Zona 1,2,3,4, dan Perangkat Instrumentasi Lab)';
    position: absolute;
    font-size: 12px;
    left: 90%;
}
.lv.one {
    height: 50px;
    width: 5px;
    left: 220px;
}
.lv.two {
    height: 200px;
    width: 5px;
    left: 320px;
    top: 730px;
}
.lv.three {
    height: 150px;
    width: 5px;
    left: 650px;
    top: 700px;
}


/* layer 8 */
.layer.eight {
    padding-top:50px;
}
.ground {
    position: relative;
    right: 150px;
}
.ground::after{
    content: 'Ext (Gen/Grid)';
    position: absolute;
    font-size: 12px;
    top: 90%;
    right: 0%;
}